@model DAMS_03.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicHospital.ClinicHospitalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicHospital.ClinicHospitalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorDentist.DoctorDentistID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorDentist.DoctorDentistID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorDentist1.DoctorDentistID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorDentist1.DoctorDentistID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAccount.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccount.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
