@model List<DAMS_03.Models.AppointmentDetailViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>View Appointments</h2>

<hr />
<p> @Model.Count records found </p>

<br />

<div class="row">
    <div class="panel panel-primary pull-left">
        <div class="panel-heading clearfix">
            <div class="panel-title" width="100%">
                List of Appointments
                <button class="btn btn-default" type="button" style="float: right"
                        onclick="location.href='@Url.Action("CreateSelection", "Appointments")'">
                    Create an Appointment
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-sieve">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model[0].AppointmentID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].ApprovalState)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].PreferredDate)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model[0].PreferredTime)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model[0].ClinicHospitalName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].RequestDoctorDentistName)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="appointmentTableBody">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].AppointmentID)
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "UserAccounts", new { id = Model[i].UserID })">
                                        @Html.DisplayFor(modelItem => Model[i].UserName)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].ApprovalState)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].PreferredDate)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => Model[i].PreferredTime)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].ClinicHospitalName)
                                </td>
                                <td>
                                    @if (Model[i].RequestDoctorDentistID == null)
                                    {
                                        @Html.DisplayFor(modelItem => Model[i].RequestDoctorDentistName)
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Details", "DoctorDentists", new { id = Model[i].RequestDoctorDentistID })">
                                            @Html.DisplayFor(modelItem => Model[i].RequestDoctorDentistName)
                                        </a>
                                    }
                                </td>

                                <td>
                                    <button class="btn btn-primary" type="button"
                                            onclick="location.href='@Url.Action("Details", "Appointments", new { id = Model[i].ID })'">
                                        Details
                                    </button><br />
                                    <button class="btn btn-success" type="button"
                                            onclick="location.href='@Url.Action("Edit", "Appointments", new { id = Model[i].ID })'">
                                        Update
                                    </button><br />
                                    @if (this.User.IsInRole("SysAdmin"))
                                    {
                                        <button class="btn btn-danger" type="button"
                                                onclick="location.href='@Url.Action("Delete", "Appointments", new { id = Model[i].ID })'">
                                            Delete
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<button class="btn btn-primary" type="button"
        onclick="location.href='@Url.Action("Page", "Appointments")'">
    Page
</button>