@model IEnumerable<DAMS_03.Models.AdminAccount>

@{
    ViewBag.Title = "Index";
}

<h2>View Admin Accounts</h2>

<div class="row">
    <div class="form-group col-md-8">
        <label class="control-label col-md-4" for="accountInput">Admin Accounts</label>
        <select id="accountInput" class="form-control input-group-sm">
            <option value="adminAccounts">Admin Accounts</option>
            <option value="adminAccountRequests">Admin Account Requests</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                List of Admin Accounts
                <button class="btn btn-success" type="button" style="float: right"
                        onclick="location.href='@Url.Action("Create", "AdminAccounts")'">
                    Create an Account
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-sieve">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.AdminID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SecurityLevel)
                                </th>
                            </tr>
                        </thead>
                        <tbody id="adminAccountTableBody">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdminID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SecurityLevel)
                                    </td>
                                    <td>
                                        <button class="btn btn-info" type="button"
                                                onclick="location.href='@Url.Action("Details", "AdminAccounts", new { id = item.ID })'">
                                            Details
                                        </button>
                                        <button class="btn btn-primary" type="button"
                                                onclick="location.href='@Url.Action("Edit", "AdminAccounts", new { id = item.ID })'">
                                            Update
                                        </button>
                                        <button class="btn btn-danger" type="button"
                                                onclick="location.href='@Url.Action("Delete", "AdminAccounts", new { id = item.ID })'">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div> <!-- end of div element with class="panel-body" -->
        </div><!-- end of div element with class="panel" -->
    </div> <!-- end of div element with  class="col-md-offset-2  col-md-8"-->
</div><!-- end of div element with class="row"-->

<script>
    // Populate the

</script>