@model DAMS_03.Models.ClinicHospital

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Clinic/Hospital</h2>
<div>
    <h4>Are you sure you want to delete this?</h4>
    <hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.ClinicHospitalID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClinicHospitalID, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClinicHospitalName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClinicHospitalName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClinicHospitalAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClinicHospitalAddress, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClinicHospitalOpenHours, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClinicHospitalOpenHours, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClinicHospitalTel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClinicHospitalTel, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClinicHospitalEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClinicHospitalEmail, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <button class="btn btn-primary" type="button"
                            onclick="location.href='@Url.Action("Index", "ClinicHospitals")'">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    }
</div>
