@model DAMS_03.Models.ClinicHospitalDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>View Clinic/Hospital Details</h2>
<hr />
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.ClinicHospitalID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClinicHospitalID, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ClinicHospitalName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClinicHospitalName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ClinicHospitalAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClinicHospitalAddress, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ClinicHospitalTel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClinicHospitalTel, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ClinicHospitalEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClinicHospitalEmail, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>

    <hr />

    <div class="form-group">
        <p><b>Opening Hours</b></p>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsStringOpenHours, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.IsStringOpenHours, new { htmlAttributes = new { @readonly = true } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClinicHospitalOpenHours, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClinicHospitalOpenHours, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>

    <hr />

    @for (int i = 0; i < 3; i++)
    {

        <div class="form-group">
            <p></p>
            <div>
                @switch (i)
                {
                    case 0:
                        <p><b>Monday to Fridays</b></p>
                        break;
                    case 1:
                        <p><b>Saturday</b></p>
                        break;
                    case 2:
                        <p><b>Sunday and Public Holidays</b></p>
                        break;

                }
            </div>
        </div>

        @Html.HiddenFor(model => model.OpeningHours[i].OpeningHoursDay)

        <div class="form-group">
            @Html.LabelFor(model => model.OpeningHours[i].TimeRangeStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OpeningHours[i].TimeRangeStart, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpeningHours[i].TimeRangeEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OpeningHours[i].TimeRangeEnd, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
        </div>

    }

    <hr />

    <div class="form-group">
        <p><b>Timeslots</b></p>
    </div>

    @for (int i = 1; i <= 5; i++)
    {

        <div class="form-group">
            <p></p>
            <div>
                <p><b>Slot @i</b></p>
            </div>
        </div>

        @Html.HiddenFor(model => model.Timeslot[i - 1].TimeslotIndex)

        <div class="form-group">
            @Html.LabelFor(model => model.Timeslot[i - 1].TimeRangeSlotString, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Timeslot[i - 1].TimeRangeSlotString, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.Timeslot[i - 1].TimeRangeSlotString, "", new { @class = "text-danger" })
            </div>
        </div>

    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-success" type="button"
                    onclick="location.href='@Url.Action("Edit", "ClinicHospitals", new { id = Model.ID})'">
                Update
            </button>
            <button class="btn btn-primary" type="button"
                    onclick="location.href='@Url.Action("Index", "ClinicHospitals")'">
                Back to List
            </button>
        </div>
    </div>
</div>
