@model IEnumerable<DAMS_03.Models.Treatment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFollowUp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFollowUp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
