@model IEnumerable<DAMS_03.Models.Treatment>

@{
    ViewBag.Title = "Index";
}

<h2>View Treatments</h2>

<div class="row">
    <div class="form-group col-md-8">
        <label class="control-label col-md-4" for="accountInput">Treatments</label>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                List of Treatments
                <button class="btn btn-default" type="button" style="float: right"
                        onclick="location.href='@Url.Action("Create", "Treatments")'">
                    Create a Treatment
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-sieve">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TreatmentID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TreatmentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TreatmentDesc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsFollowUp)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="treatmentTableBody">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreatmentID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreatmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TreatmentDesc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsFollowUp)
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button"
                                                onclick="location.href='@Url.Action("Details", "Treatments", new { id = item.ID})'">
                                            Details
                                        </button>
                                        <button class="btn btn-success" type="button"
                                                onclick="location.href='@Url.Action("Edit", "Treatments", new { id = item.ID})'">
                                            Update
                                        </button>
                                        <button class="btn btn-danger" type="button"
                                                onclick="location.href='@Url.Action("Delete", "Treatments", new { id = item.ID})'">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
